html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 805.38px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: white;
  height: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.swiper-pagination {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-pagination-bullet {
  width: 2px !important;
  height: 24px !important;
  background: #fff !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #00bcd4 !important;
}

.swiper-vertical > .swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
  right: var(--swiper-pagination-right, 100px) !important;
  left: var(--swiper-pagination-left, auto);
  top: 50%;
  transform: translate3d(0px, -50%, 0);
}

.button-prev,
.button-next {
  position: absolute;
  right: 38px;
  z-index: 10;
  cursor: pointer;
  transform: translateX(-50%);
}

.button-prev {
  top: 60%;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background: rgba(250, 252, 244, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-next {
  bottom: 52%;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background: rgba(250, 252, 244, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-prev-img {
  transform: rotate(90deg);
}

.button-next-img {
  transform: rotate(-90deg);
}
