.tour-guide .swiper {

  position: relative;
}

.tour-guide .swiper-pagination-lock {
  display: block !important;
}


.tour-guide .swiper-pagination {
  bottom: 10px;
  display: flex !important;
  gap: 20px !important;
  justify-content: center !important;
}



.tour-guide .swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  background: #fff !important;
  opacity: 1 !important;
  border: 1px solid #000 !important;
}

.tour-guide .swiper-pagination-bullet-active {
  background: #00bcd4 !important;
}